.loginWrapper {
  padding: 80px;
  margin: auto;
  height: 100vh;
}

.loginContainer {
  justify-content: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.ant-spin-dot-item {
  background-color: red;
}
