.headerLogo {
  position: absolute;
  top: -60px;
  // color: rgba(18, 20, 60);
  // background-color: rgba(205, 170, 115);
}
.logo1 {
  width: 390px;
}
.logo2 {
  width: 58%;
  margin-top: 72px;
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
.logOutBtn {
  margin-left: 10px;
}
.searchIcon {
  margin-left: 25px;
  margin-right: 10px;
}
.countrySelection {
  margin-left: 15px;
  :global {
    .ant-select-selection-item {
      font-size: 16px;
      font-weight: 400;
      color: #c6c9d8 !important;
    }
    .ant-select-selector {
      padding: 0 !important;
    }
    .ant-select-arrow {
      color: #c6c9d8 !important;
      height: 50%;
    }
  }
}
:global {
  .ant-modal {
    max-width: unset !important;
    margin: unset !important;
  }
  .ant-modal-centered::before {
    content: unset !important;
  }
}

.container {
  :global {
    .ant-modal-body {
      text-align: center !important;
    }

    .ant-modal-title {
      text-align: center;
      width: 50%;
    }
    .ant-modal-content {
      border-radius: 0 !important;
      // background: linear-gradient(to right, #e1bc7c 50%, #e2b266 50%);
      background-color: #f8ecd9;
    }

    .ant-modal-header {
      background-color: #f8ecd9;
      // background: linear-gradient(to right, #e1bc7c 50%, #e2b266 50%);
    }
  }
}

// :global {
//   .ant-select-single .ant-select-selector {
//     color: #c6c9d8 !important;
//   }
//   .ant-select .ant-select-arrow {
//     color: #c6c9d8 !important;
//   }

//   .ant-select-open {
//     color: #c6c9d8 !important;
//   }
// }

.projectSelection {
  @media only screen and (max-width: 767px) {
    display: none;
  }
  // :global {
  //   .ant-select-selection-item {
  //     font-size: 16px;
  //     font-weight: 400;
  //     color: #c6c9d8 !important;
  //   }
  //   .ant-select-selector {
  //     padding: 0 !important;
  //   }
  //   .ant-select-arrow {
  //     color: #c6c9d8 !important;
  //     height: 50%;
  //   }
  // }
}

:global {
  .ant-space:hover {
    color: #c6c9d8 !important;
  }
  .ant-dropdown-trigger {
    color: #c6c9d8 !important;
    .ant-space-item:nth-child(1) {
      font-size: 15px !important;
      font-weight: 400 !important;
    }
    .ant-space-item:nth-child(2) {
      margin-top: -4px;
      font-size: 13px !important;
    }
  }
}

.headerDropdown {
  :hover {
    color: #cdaa73 !important;
  }
}
