@import '../../assets/scss/default/variables';

.headerLogo {
  position: absolute;
  top: -60px;
  // color: rgba(18, 20, 60);
  // background-color: rgba(205, 170, 115);
}
.logo1 {
  width: 320px;
  margin-top: 90px;
  @media #{$lg-layout} {
    width: 320px !important;
  }
  @media #{$md-layout} {
    width: 300px !important;
  }
  @media #{$sm-layout} {
    width: 180px !important;
  }
}
.logo2 {
  width: 18%;
  margin-top: 70px;
  // @media only screen and (max-width: 767px) {
  //   display: none;
  // }
  @media #{$md-layout} {
    width: 28% !important;
  }
  @media #{$sm-layout} {
    width: 60% !important;
  }
}
.logOutBtn {
  margin-left: 10px;
}
.searchIcon {
  margin-left: 25px;
  margin-right: 10px;
  @media only screen and (max-width: 767px) {
    margin-left: 12px;
    margin-right: 0px;
    margin-top: 5px;
  }
}
.countrySelection {
  margin-left: -6px;
  margin-top: 22px;
  :global {
    .ant-select-selection-item {
      font-size: 18px;
      font-weight: 400;
      color: #f2f2f8 !important;
    }
    .ant-select-selector {
      padding: 0 !important;
    }
    .ant-select-arrow {
      color: #f2f2f8 !important;
      height: 50%;
    }
  }
  @media only screen and (max-width: 990px) {
    > a {
      color: #1f1f25 !important;
      margin-left: 8px;
    }
  }
}
:global {
  .ant-modal {
    max-width: unset !important;
    margin: unset !important;
  }
  .ant-modal-centered::before {
    content: unset !important;
  }
}

.container {
  :global {
    .ant-modal-body {
      text-align: center !important;
    }

    .ant-modal-title {
      text-align: center;
      width: 50%;
      @media only screen and (max-width: 767px) {
        width: 70%;
      }
    }
    .ant-modal-content {
      border-radius: 0 !important;
      // background: linear-gradient(to right, #e1bc7c 50%, #e2b266 50%);
      background-color: rgb(18, 20, 60);
      color: rgb(18, 20, 60);
    }

    .ant-modal-header {
      // background: linear-gradient(to right, #e1bc7c 50%, #e2b266 50%);
    }
  }
}

// :global {
//   .ant-select-single .ant-select-selector {
//     color: #f2f2f8 !important;
//   }
//   .ant-select .ant-select-arrow {
//     color: #f2f2f8 !important;
//   }

//   .ant-select-open {
//     color: #f2f2f8 !important;
//   }
// }

.projectSelection {
  margin-top: 22px;
  @media only screen and (max-width: 990px) {
    > a {
      color: #1f1f25 !important;
    }
  }
  // :global {
  //   .ant-select-selection-item {
  //     font-size: 16px;
  //     font-weight: 400;
  //     color: #f2f2f8 !important;
  //   }
  //   .ant-select-selector {
  //     padding: 0 !important;
  //   }
  //   .ant-select-arrow {
  //     color: #f2f2f8 !important;
  //     height: 50%;
  //   }
  // }
}

:global {
  .ant-space:hover {
    color: #f2f2f8 !important;
  }
  .ant-dropdown-trigger {
    color: #f2f2f8 !important;
    .ant-space-item:nth-child(1) {
      font-size: 17px !important;
      font-weight: 400 !important;
    }
    .ant-space-item:nth-child(2) {
      display: none;
    }
  }
}

.headerDropdown {
  :hover {
    color: #cdaa73 !important;
  }
}

.hrBackground {
  background: #cdaa73;
  @media only screen and (min-width: 767px) {
    display: none;
  }
}

.adminNav {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.searchPlaceholder {
  color: rgb(18, 20, 60);
}