.headerLogo {
  position: absolute;
  top: -60px;
  // color: rgba(18, 20, 60);
  // background-color: rgba(205, 170, 115);
}
.logo1 {
  width: 390px;
}
.logo2 {
  width: 280px;
  padding: 25px;
}
.logOutBtn {
  margin-left: 20px;
}

:global {
  .ant-modal {
    max-width: unset !important;
    margin: unset !important;
  }
  .ant-modal-centered::before {
    content: unset !important;
  }
}

.container {
  :global {
    .ant-modal-body {
      text-align: center !important;
    }

    .ant-modal-title {
      text-align: center;
      width: 50%;
    }
    .ant-modal-content {
      border-radius: 0 !important;
      // background: linear-gradient(to right, #e1bc7c 50%, #e2b266 50%);
      background-color: #f8ecd9;
    }

    .ant-modal-header {
      background-color: #f8ecd9;
      // background: linear-gradient(to right, #e1bc7c 50%, #e2b266 50%);
    }
  }
}
