.footerLogo {
  padding: 10px;
}
.logo {
  color: rgba(18, 20, 60);
  background-color: rgba(205, 170, 115);
  max-width: 30%;
}

.footerHome {
  background-color: rgba(18, 20, 60);
  // margin-top: 100px;
}

.subscribe {
  cursor: pointer;
  color: #c6c9d8 !important;
  display: flex;
  justify-content: center;
}
