.footerLogo {
  // padding: 10px;
}
.logo {
  color: rgba(18, 20, 60);
  max-width: 55%;
}

.footerHome {
  background-color: rgba(18, 20, 60);
  padding: 20px 70px;
  // margin-top: 100px;
}

.subscribe {
  cursor: pointer;
  color: #c6c9d8 !important;
  display: flex;
  justify-content: center;
  :hover {
    color: #cdaa73 !important;
  }
}

.subscribeHover {
  :hover {
    color: #cdaa73 !important;
  }
}
